---
import Layout from "../layouts/Layout.astro"
import Title from "../components/Title.astro"
---

<Layout title="Douglas Moore" description="Portfolio for Douglas Moore">
  <Title>Coming soon...</Title>
</Layout>
