---
import Layout from "../layouts/Layout.astro"
import Title from "../components/Title.astro"
---

<Layout title="Douglas Moore">
  <header>
    <Title>Coming soon...</Title>
  </header>
  <main></main>
  <footer></footer>
</Layout>
