---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Title from '../components/Title.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Douglas Moore" description="Portfolio for Douglas Moore">
  <Header slot="header">
    <Title>Douglas Moore</Title>
    <Nav />
  </Header>

  <p>Portfolio coming soon...</p>

  <Footer slot="footer" />
</Layout>
