---
import { Icon } from 'astro-icon/components'
---

<footer class="flex flex-1 flex-col items-center py-8">
  <ul class="flex flex-1 items-center space-x-4">
    <li>
      <a href="https://linkedin.com/in/dbryantm">
        <Icon class="h-6 w-6" name="linkedin" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/dbryantm">
        <Icon class="h-6 w-6" name="twitter" />
      </a>
    </li>
    <li>
      <a href="https://github.com/dbryantm">
        <Icon class="h-6 w-6" name="github" />
      </a>
    </li>
  </ul>
</footer>
