<nav class="flex flex-auto">
  <ul class="flex flex-1 items-center space-x-4">
    <li>
      <a href="/">Portfolio</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
  </ul>
</nav>
