<nav class="flex flex-auto">
  <ul class="flex flex-1 items-center space-x-4">
    <li>
      <a href="/portfolio/">Portfolio</a>
    </li>
    <li>
      <a href="/portfolio/about">About</a>
    </li>
    <li>
      <a href="/portfolio/blog">Blog</a>
    </li>
  </ul>
</nav>
